<% content_for :meta_title, "Olivia Zorn" %>
<% content_for :meta_description, "Web Development Portfolio" %>
<% content_for :meta_image, image_path("olivia-zorn.png") %>

<div class="container-intro">
  <div class="container-hello">
    <h2 class="top">Hello</h2>
    <h2 class="top comma">,</h2>
  </div>

  <h2 class="top my-name-is">my name is </h2>

  <h1 class="mt-4 top olivia">Olivia Zorn</h1>

  <h3 class="mt-5 top">I code delightful apps and websites</h3>
  <i class="fas fa-long-arrow-alt-down mt-5 blinking btn-scroll"></i>

  <%= image_tag "cloud1.png", alt: "alttext", class: "cloud", id: "cloud1" %>
  <%= image_tag "cloud2.png", alt: "alttext", class: "cloud", id: "cloud2" %>
<!--   <%= image_tag "cloud3.png", alt: "alttext", class: "cloud", id: "cloud3" %>
  <%= image_tag "cloud4.png", alt: "alttext", class: "cloud", id: "cloud4" %> -->
  <%= image_tag "cloud5.png", alt: "alttext", class: "cloud", id: "cloud5" %>
  <%= image_tag "cloud6.png", alt: "alttext", class: "cloud", id: "cloud6" %>
  <%= image_tag "cloud7.png", alt: "alttext", class: "cloud", id: "cloud7" %>
<!--   <%= image_tag "cloud8.png", alt: "alttext", class: "cloud", id: "cloud8" %>
 -->
</div>

<div class="color-stripe">
  <div class="white stripe"></div>
  <div class="yellow stripe"></div>
  <div class="pink stripe"></div>
  <div class="purple stripe"></div>
</div>

<div class="about-me">
  <div class="about-content">
    <h4 class="i-am">I'm an artist and fullstack web developer from Boston, currently living in London</h4>
    <h4 class="i-studied">I studied Photography at Bard College and recently graduated from Le Wagon's immersive coding bootcamp</h4>
    <h4 class="take-a-look">Take a look at my projects below!</h4>
  </div>

</div>

<div>
  <div class="purple stripe"></div>
  <div class="yellow stripe"></div>
</div>

<div class="container-projects">

  <div class="project conscious-clicks">
    <a href="http://www.consciousclicks.org/">
      <h2>Conscious Clicks</h2>
    </a>

    <p class="description">An app that trains you to live more mindfully and unlearn
      unhealthy ideas by showing you positive messages everytime you
      open a new tab</p>

    <!-- Bootstrap Image Carousel -->

    <div id="consciousClicksControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "homepage.png", alt: "Conscious Clicks Homepage" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "mood-form.png", alt: "A pop up form that asks you how you're feeling today" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "dashboard.png", alt: "Conscious Clicks Dashboard" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "explore-messages.png", alt: "Explore message sets by Conscious Clicks" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "by-other-clickers.png", alt: "Explore messages by other users" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "my-custom-sets.png", alt: "My custom message sets" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#consciousClicksControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#consciousClicksControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div>
    <div class="yellow stripe"></div>
    <div class="pink stripe"></div>
  </div>

  <div class="project cloud-castles">
    <a href="https://cloud-castles-nquiggers.herokuapp.com/">
      <h2>Cloud Castles</h2>
    </a>
    <p class="description">An airbnb-style app for renting extravagant castles</p>

    <!-- Bootstrap Image Carousel -->

    <div id="cloudCastlesControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "cloud-landing.png", alt: "Cloud Castles landing page" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "explore-stays.png", alt: "Explore castles to rent" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "castles-map.png", alt: "Map of available castles" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "castle-show.png", alt: "Neuschwanstein Castle, Germany" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "castle-show2.png", alt: "Chateau des Joyeaux, France" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "my-bookings.png", alt: "My bookings" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "add-a-castle.png", alt: "Form to add your own castle" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#cloudCastlesControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#cloudCastlesControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div>
    <div class="pink stripe"></div>
    <div class="green stripe"></div>
  </div>

  <div class="project mom-zorn">
    <a href="http://www.momzorn.com/">
      <h2>Mixed by Mom Zorn</h2>
    </a>
    <p class="description">An app for my Mom to share her cocktail recipes</p>

    <!-- Bootstrap Image Carousel -->

    <div id="momZornControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "cocktails-index.png", alt: "Cocktails" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "cocktail-show-mixer.png", alt: "A pop up form that asks you how you're feeling today" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "cocktail-show-user.png", alt: "Conscious Clicks Dashboard" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "mix-it-up.png", alt: "Explore message sets by Conscious Clicks" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "mom-zorn-about.png", alt: "Explore messages by other users" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#momZornControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#momZornControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div>
    <div class="green stripe"></div>
    <div class="purple stripe"></div>
  </div>

  <div class="project photo-portfolio">
    <a href="http://livzorn.com/">
      <h2>Photography Portfolio</h2>
    </a>
    <p class="description">A showcase of my artwork from university - the first website I ever made
      and the reason I fell in love with coding!</p>

    <!-- Bootstrap Image Carousel -->

    <div id="photoPortfolioControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "photo-home.png", alt: "Conscious Clicks Homepage" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "fruit-chapel.png", alt: "A pop up form that asks you how you're feeling today" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "turtle.png", alt: "Conscious Clicks Dashboard" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "360-picture.png", alt: "Explore message sets by Conscious Clicks" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "photo-rollover.png", alt: "Explore messages by other users" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "photo-about.png", alt: "My custom message sets" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#photoPortfolioControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#photoPortfolioControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

<!--   <div>
    <div class="purple mini-stripe"></div>
    <div class="pink mini-stripe"></div>
    <div class="yellow mini-stripe"></div>
    <div class="white mini-stripe"></div>
  </div> -->

  <div>
    <div class="purple stripe"></div>
    <div class="white stripe"></div>
  </div>

</div>

<div class="container-intro">
  <h2 class="hello">Say hello!</h2>
  <div class="icons">
    <a href="mailto: Livzorn@gmail.com"><i class="far fa-envelope"></i></a>
    <a href="https://www.linkedin.com/in/livzorn/"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/livzorn"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/livzorn/"><i class="fab fa-instagram"></i></a>
  </div>

</div>

<div class="color-stripe">
  <div class="white stripe"></div>
  <div class="yellow stripe"></div>
  <div class="pink stripe"></div>
  <div class="purple stripe"></div>
</div>
