<div class="container-intro">
  <div class="container-hello">
    <h2 class="top hello">Hello</h2>
    <h2 class="top comma">,</h2>
  </div>

  <h2 class="top my-name-is">my name is </h2>

  <h1 class="mt-4 top olivia">Olivia Zorn</h1>

  <h3 class="mt-5 top">I code delightful apps and websites</h3>
  <i class="fas fa-long-arrow-alt-down mt-5 blinking btn-scroll"></i>

  <%= image_tag "cloud1.png", alt: "alttext", class: "cloud", id: "cloud1" %>
  <%= image_tag "cloud2.png", alt: "alttext", class: "cloud", id: "cloud2" %>
<!--   <%= image_tag "cloud3.png", alt: "alttext", class: "cloud", id: "cloud3" %>
  <%= image_tag "cloud4.png", alt: "alttext", class: "cloud", id: "cloud4" %> -->
  <%= image_tag "cloud5.png", alt: "alttext", class: "cloud", id: "cloud5" %>
  <%= image_tag "cloud6.png", alt: "alttext", class: "cloud", id: "cloud6" %>
  <%= image_tag "cloud7.png", alt: "alttext", class: "cloud", id: "cloud7" %>
<!--   <%= image_tag "cloud8.png", alt: "alttext", class: "cloud", id: "cloud8" %>
 -->
</div>

<div class="color-stripe">
  <div class="purple"></div>
  <div class="pink"></div>
  <div class="yellow"></div>
  <div class="white"></div>
</div>

<div class="project text-left">
  <div class="i-am">
    <h4>I'm an artist and fullstack web developer</h4>
    <h4>from Boston, MA</h4>
    <h4>currently living in London</h4>
  </div>
  <div class="i-studied">
    <h4>I studied Photography at Bard College</h4>
    <h4>and recently graduated from Le Wagon's</h4>
    <h4>immersive coding bootcamp</h4>
  </div>
  <div class="tech-stack">
    <h4>My expertise:</h4>
    <p>Ruby on Rails</p>
    <p>Javascript</p>
    <p>HTML/CSS</p>
    <p>SQL</p>
    <p>Figma</p>
    <p>Photoshop</p>
    <p>Illustrator</p>
    <p>InDesign</p>

    <p>I'm currently learning:</p>
    <p>React</p>
  </div>
  <h4 class="take-a-look">Take a look at my projects below!</h4>
</div>

<div class="color-stripe">
  <div class="purple"></div>
  <div class="pink"></div>
  <div class="yellow"></div>
  <div class="white"></div>
</div>



<div class="container-projects">

  <div class="project conscious-clicks">
    <h2>Conscious Clicks</h2>
    <p class="description">An app that trains you to live more mindfully and unlearn
      unhealthy ideas by showing you positive messages everytime you
      open a new tab</p>

    <!-- Bootstrap Image Carousel -->

    <div id="consciousClicksControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "homepage", alt: "Conscious Clicks Homepage" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "mood-form", alt: "A pop up form that asks you how you're feeling today" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "dashboard", alt: "Conscious Clicks Dashboard" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "explore-messages", alt: "Explore message sets by Conscious Clicks" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "by-other-clickers", alt: "Explore messages by other users" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "my-custom-sets", alt: "My custom message sets" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#consciousClicksControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#consciousClicksControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="color-stripe">
    <div class="purple"></div>
    <div class="pink"></div>
    <div class="yellow"></div>
    <div class="white"></div>
  </div>

  <div class="project cloud-castles">
    <h2>Cloud Castles</h2>
    <p class="description">An airbnb-style app for renting extravagant castles</p>

    <!-- Bootstrap Image Carousel -->

    <div id="cloudCastlesControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "cloud-landing", alt: "Cloud Castles landing page" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "explore-stays", alt: "Explore castles to rent" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "castles-map", alt: "Map of available castles" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "castle-show", alt: "Neuschwanstein Castle, Germany" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "castle-show2", alt: "Chateau des Joyeaux, France" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "my-bookings", alt: "My bookings" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "add-a-castle", alt: "Form to add your own castle" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#cloudCastlesControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#cloudCastlesControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="color-stripe">
    <div class="purple"></div>
    <div class="pink"></div>
    <div class="yellow"></div>
    <div class="white"></div>
  </div>

  <div class="project mom-zorn">
    <h2>Mixed by Mom Zorn</h2>
    <p class="description">An app for my Mom to share her cocktail recipes</p>

    <!-- Bootstrap Image Carousel -->

    <div id="momZornControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "cocktails-index", alt: "Cocktails" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "cocktail-show-mixer", alt: "A pop up form that asks you how you're feeling today" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "cocktail-show-user", alt: "Conscious Clicks Dashboard" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "mix-it-up", alt: "Explore message sets by Conscious Clicks" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "mom-zorn-about", alt: "Explore messages by other users" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#momZornControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#momZornControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="color-stripe">
    <div class="purple"></div>
    <div class="pink"></div>
    <div class="yellow"></div>
    <div class="white"></div>
  </div>

  <div class="project photo-portfolio">
    <h2>Photography Portfolio</h2>
    <p class="description">A showcase of my artwork from university - the first website I ever made
      and the reason I fell in love with coding!</p>

    <!-- Bootstrap Image Carousel -->

    <div id="photoPortfolioControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "photo-home", alt: "Conscious Clicks Homepage" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "fruit-chapel", alt: "A pop up form that asks you how you're feeling today" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "turtle", alt: "Conscious Clicks Dashboard" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "360-picture", alt: "Explore message sets by Conscious Clicks" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "photo-rollover", alt: "Explore messages by other users" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "photo-about", alt: "My custom message sets" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#photoPortfolioControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#photoPortfolioControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="color-stripe">
    <div class="purple"></div>
    <div class="pink"></div>
    <div class="yellow"></div>
    <div class="white"></div>
  </div>

</div>

<div class="container-contact">
  <h4>Say hello!</h4>
</div>

